<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <div th:replace="~{fragments/base :: header}"></div>
    <div id="content">
        <h2>Lista de Productos</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td><a th:href="@{/producto/{id}(id=${producto.id})}" th:text="${producto.id}"></a></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.precio}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="~{fragments/base :: footer}"></footer>
</body>
</html>